# 3장 파이썬 핵심 문법

## 3.10 연습 문제

###문제1

In [ ]:
univ=input('학교: ')
dept=input('학과: ')
name=input('이름: ')
phone=input('연락처: ')
print()
print(f'{name} 학생은 {univ} {dept}에 재학 중이며, 연락처는 {phone}입니다.')

학교: 한국대학교
학과: 경제학과
이름: 홍길동
연락처: 010-1234-5678

홍길동 학생은 한국대학교 경제학과에 재학 중이며, 연락처는 010-1234-5678입니다.

###문제2

In [ ]:
name = input('이름 입력: ')
year = int(input('출생년도 입력: '))
age = 2023 - year + 1
print(f'2023년 시점, {name}님의 한국 나이는 {age}살입니다.')

이름 입력: 홍길동
출생년도 입력: 2004
2023년 시점, 홍길동님의 한국 나이는 20살입니다.

###문제3

In [ ]:
month = int(input('월 입력: '))
if month < 1 or month > 12 :
    print('존재하지 않는 월!!')
elif 3 <= month <= 5 :
    print(f'{month}월은 봄')
elif 6 <= month <= 8 :
    print(f'{month}월은 여름')
elif 9 <= month <= 11 :
    print(f'{month}월은 가을')
else :
    print(f'{month}월은 겨울')

월 입력: 10
10월은 가을

###문제4

In [ ]:
score1 = int(input('1차 점수 입력: '))
score2 = int(input('2차 점수 입력: '))
avg = (score1+score2)/2
if score1>=50 and score2>=50 and avg>=70:
    print('합격')
else:
    print('불합격')

1차 점수 입력: 100
2차 점수 입력: 49
불합격

###문제5

In [ ]:
import random
com = random.randint(1,30)
print('<< 1~30 숫자 맞히기 게임 >>')
while True :
    player = int(input('숫자 입력(종료 0): '))
    if player == 0 :
        break
    elif player == com :
        print('정답!!')
        break
    elif player > com :
        print('더 작은 숫자 입력! ')
    elif player < com :
        print('더 큰 숫자 입력! ')

<< 1~30 숫자 맞히기 게임 >>
숫자 입력(종료 0): 15
더 큰 숫자 입력!
숫자 입력(종료 0): 20
더 큰 숫자 입력!
숫자 입력(종료 0): 25
더 큰 숫자 입력!
숫자 입력(종료 0): 28
정답!!

###문제6

In [ ]:
import random
word = ['말했잖아','언젠가', '내버려두지','낭떠러지야','초토화된','불구덩이든','뛰어','낙하', '보여주자','웃자']
input('타자게임 시작 (엔터 입력) ')
w = random.choice(word)
n = 1        # 문제번호
while True :
    print('문제',n,'(종료 0):',w)
    my = input()
    if my == '0' :
        break
    elif my == w :
        print('맞음!!\n')
        w = random.choice(word)
    else :
        print('틀림! 다시!\n')
    n += 1    # 문제번호 증가

타자게임 시작 (엔터 입력)
문제 1 (종료 0): 낙하
낙하
맞음!!

문제 2 (종료 0): 불구덩이든
불구덩이
틀림! 다시!

문제 3 (종료 0): 불구덩이든
불구덩이든
맞음!!

문제 4 (종료 0): 낙하
0

###문제7

In [ ]:
import random
lotto = []

while True:
    num = random.randint(1,45)
    if num not in lotto:
        lotto.append(num)
    if len(lotto)==6:
        break   
print('<< 생성된 로또 번호 >>')
for i in range(6):
    print(f'{lotto[i]} ', end='')

<< 생성된 로또 번호 >>
41 24 6 13 33 44

###문제8

In [ ]:
vote={'대성리':0,'춘천':0,'을왕리':0,'청평':0}
for x in vote:
    print(f'{x}:{vote[x]}표', end=' ')
print('\n')
print('<< MT 장소 투표 >>')
while True:
    area=input('장소: ')
    if not area:break        
    vote[area]=vote[area]+1

for x in vote:
    print(f'{x}:{vote[x]}표', end=' ')

print('\n')
max_key = max(vote, key=vote.get)
print(f'최다득표: {max_key} {vote[max_key]}표')

대성리:0표 춘천:0표 을왕리:0표 청평:0표

<< MT 장소 투표 >>
장소: 대성리
장소: 을왕리
장소: 춘천
장소: 을왕리
장소:
대성리:1표 춘천:1표 을왕리:2표 청평:0표

최다득표: 을왕리 2표

###문제9

In [ ]:
def print_lyrics(): 
   print('Stay in the middle')
   print('Like you a little')
   print("Don't want no riddle")
   print('말해줘 say it back, oh, say it ditto')
   print('아침은 너무 멀어 so say it ditto')

print('Hoo', 'ooh '*4)
print()
print_lyrics()

Hoo ooh ooh ooh ooh

Stay in the middle
Like you a little
Don't want no riddle
말해줘 say it back, oh, say it ditto
아침은 너무 멀어 so say it ditto

###문제10

In [ ]:
def price(menue):
    if menue==1:
       m='아메리카노'
       p=3000
    elif menue==2:
        m='카페라떼'
        p=4000
    elif menue==3:
        m='바닐라라떼'
        p=4500
    print(f'{m}: {p:,}원')

menue=int(input('메뉴선택(1:아메리카노/2:카페라떼/3:바닐라라떼) '))
price(menue)

메뉴선택(1:아메리카노/2:카페라떼/3:바닐라라떼) 2
카페라떼: 4,000원

###문제11

In [ ]:
files = ['report.hwp','newJeans','attention.png','ditto.jpg','address.xslx']

print(list(filter(lambda x :'jpg' in x or 'png' in x, files)))

['attention.png', 'ditto.jpg']

###문제12

In [ ]:
f=open('weather.txt')
cnt=0
while True:
    line=f.readline()
    if not line:break
    month,low,high = line.split(',')
    avg =(float(low)+float(high))/2
    print(f'{month}월 평균기온은 {avg:.1f}℃입니다.')

f.close()

7월 평균기온은 23.0℃입니다.
8월 평균기온은 28.2℃입니다.
9월 평균기온은 21.9℃입니다.
10월 평균기온은 16.6℃입니다.
11월 평균기온은 11.0℃입니다.
12월 평균기온은 3.1℃입니다.

###문제13

In [ ]:
import pandas as pd
my_phone = pd.read_excel('phone.xlsx')
my_phone

    이름            연락처
0   해린  010-1234-1234
1   민지  010-1111-1111
2   혜인  010-2222-2222
3  다니엘  010-3333-3333

In [ ]:
my_phone = my_phone.append([{'이름':'하니','연락처':'010-4321-4321'}])
my_phone

    이름            연락처
0   해린  010-1234-1234
1   민지  010-1111-1111
2   혜인  010-2222-2222
3  다니엘  010-3333-3333
0   하니  010-4321-4321

In [ ]:
my_phone.to_excel('phone.xlsx',index=False)
my_phone = pd.read_excel('phone.xlsx')
my_phone

    이름            연락처
0   해린  010-1234-1234
1   민지  010-1111-1111
2   혜인  010-2222-2222
3  다니엘  010-3333-3333
4   하니  010-4321-4321