본문예제11-01

In [9]:
import pandas as pd
d=pd.DataFrame({'date':['2019-01-03', '2021-11-22', '2023-01-05'],
'name':['J', 'Y', 'O']})
print(d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   name    3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
None

본문예제11-02

In [10]:
d['date']=pd.to_datetime(d.date,format='%Y-%m-%d')
print(d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   name    3 non-null      object
dtypes: datetime64[ns](1), object(1)
memory usage: 176.0+ bytes
None

본문예제11-03

In [11]:
d.set_index(keys=['date'],inplace=True)
print(d.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3 entries, 2019-01-03 to 2023-01-05
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
dtypes: object(1)
memory usage: 48.0+ bytes
None

본문예제11-04

In [13]:
import numpy as np
d=pd.DataFrame({'date':['2019-01-03', '2021-11-22','2021-12-01','2023-01-05'],
'x1':[0.1,2.0,np.nan,1.2]})
d['date']=pd.to_datetime(d.date,format='%Y-%m-%d')
d.set_index(keys=['date'],inplace=True)
print(d.isnull().sum())
print(d)

x1    1
dtype: int64
             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  NaN
2023-01-05  1.2

본문예제11-05

In [14]:
d=d.fillna(method='ffill')
print('=='*10)
print(d)

====================
             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  2.0
2023-01-05  1.2

본문예제11-06

In [15]:
import numpy as np
d=pd.DataFrame({'date':['2019-01-03', '2021-11-22','2021-12-01','2023-01-05'],
'x1':[0.1,2.0,np.nan,1.2]})
d['date']=pd.to_datetime(d.date,format='%Y-%m-%d')
d.set_index(keys=['date'],inplace=True)
print(d.isnull().sum())
print(d)
d=d.dropna()
print(d)

x1    1
dtype: int64
             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  NaN
2023-01-05  1.2
             x1
date
2019-01-03  0.1
2021-11-22  2.0
2023-01-05  1.2

본문예제 11-07

In [16]:
import numpy as np
d=pd.DataFrame({'date':['2019-01-03', '2021-11-22','2021-12-01','2023-01-05'],
'x1':[0.1,2.0,np.nan,1.2]})
d['date']=pd.to_datetime(d.date,format='%Y-%m-%d')
d.set_index(keys=['date'],inplace=True)
print(d)
d=d.interpolate()
print(d)

             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  NaN
2023-01-05  1.2
             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  1.6
2023-01-05  1.2

본문예제11-08

In [20]:
import numpy as np
d=pd.DataFrame({'date':['2019-01-03', '2021-11-22','2021-12-01','2023-01-05'],
'x1':[0.1,2.0,1.6,1.2]})
d['date']=pd.to_datetime(d.date,format='%Y-%m-%d')
d.set_index(keys=['date'],inplace=True)
#인덱스 속성 확인
print(d.index)

DatetimeIndex(['2019-01-03', '2021-11-22', '2021-12-01', '2023-01-05'], dtype='datetime64[ns]', name='date', freq=None)

본문예제11-09

In [21]:
print(d)
d2=d.asfreq('Y', method='ffill') #‘Y’ 매년 마지막 일
print(d2) # 설정한 주기로 생성된 데이터

             x1
date
2019-01-03  0.1
2021-11-22  2.0
2021-12-01  1.6
2023-01-05  1.2
             x1
date
2019-12-31  0.1
2020-12-31  0.1
2021-12-31  1.6
2022-12-31  1.6

본문예제11-10

In [22]:
import numpy as np
d=pd.DataFrame({'date':['2021-01-06', '2021-01-13', '2021-01-20', '2021-01-27', '2021-02-03'],
'x1':[5,4,3,2,7]})
d['date']=pd.to_datetime(d.date)
d.set_index(keys=['date'],inplace=True)
print("원본")
print('=='*20)
print(d)
print('=='*20)
tmp=d.rolling(1).mean()
print(tmp)
print()
print('=='*20)
tmp=d.rolling(2).mean()
print(tmp)

원본
========================================
            x1
date
2021-01-06   5
2021-01-13   4
2021-01-20   3
2021-01-27   2
2021-02-03   7
========================================
             x1
date
2021-01-06  5.0
2021-01-13  4.0
2021-01-20  3.0
2021-01-27  2.0
2021-02-03  7.0

========================================
             x1
date
2021-01-06  NaN
2021-01-13  4.5
2021-01-20  3.5
2021-01-27  2.5
2021-02-03  4.5

본문예제11-11

In [23]:
import numpy as np
d=pd.DataFrame({'date':['2021-01-06', '2021-01-13', '2021-01-20', '2021-01-27', '2021-02-03'],
'x1':[5,4,3,2,7]})
d['date']=pd.to_datetime(d.date)
d.set_index(keys=['date'],inplace=True)
print("원본")
print('=='*20)
print(d)
y_diff=d.diff() # 이전값-이후값
y_diff.columns=['diff'] # 컬럼명 만들기
temp=pd.concat([d,y_diff],axis=1) # 데이터프레임 열끼리 합치기
print('=='*20)
print(temp)

원본
========================================
            x1
date
2021-01-06   5
2021-01-13   4
2021-01-20   3
2021-01-27   2
2021-02-03   7
========================================
            x1  diff
date
2021-01-06   5   NaN
2021-01-13   4  -1.0
2021-01-20   3  -1.0
2021-01-27   2  -1.0
2021-02-03   7   5.0

본문예제11-12

In [25]:
import numpy as np
d=pd.DataFrame({'date':['2021-01-06', '2021-01-13', '2021-01-20', '2021-01-27', '2021-02-03'],
'x1':[5,4,3,2,7]})
d['date']=pd.to_datetime(d.date)
d.set_index(keys=['date'],inplace=True)
print("원본")
print('=='*20)
print(d)
print('=='*20)
d['shift']=d['x1'].shift(2)
print(d)
print('=='*20)
d=d.fillna(method='bfill')
print(d)

원본
========================================
            x1
date
2021-01-06   5
2021-01-13   4
2021-01-20   3
2021-01-27   2
2021-02-03   7
========================================
            x1  shift
date
2021-01-06   5    NaN
2021-01-13   4    NaN
2021-01-20   3    5.0
2021-01-27   2    4.0
2021-02-03   7    3.0
========================================
            x1  shift
date
2021-01-06   5    5.0
2021-01-13   4    5.0
2021-01-20   3    5.0
2021-01-27   2    4.0
2021-02-03   7    3.0

본문예제11-12

In [27]:
import numpy as np
d=pd.DataFrame({'date':['2021-01-06', '2021-01-13', '2021-01-20', '2021-01-27', '2021-02-03'], 'x1':[5,4,3,2,7],'과목':['a','b','c','d','e']})
d['date']=pd.to_datetime(d.date)
d.set_index(keys=['date'],inplace=True)
print("원본")
print('=='*20)
print(d)
x=pd.get_dummies(d['과목'])
x=pd.concat([d,x],axis=1)
print('=='*20)
print(x)

원본
========================================
            x1 과목
date
2021-01-06   5  a
2021-01-13   4  b
2021-01-20   3  c
2021-01-27   2  d
2021-02-03   7  e
========================================
            x1 과목  a  b  c  d  e
date
2021-01-06   5  a  1  0  0  0  0
2021-01-13   4  b  0  1  0  0  0
2021-01-20   3  c  0  0  1  0  0
2021-01-27   2  d  0  0  0  1  0
2021-02-03   7  e  0  0  0  0  1